SUPABASE_ANON_KEY=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_URL=""
POSTGRES_URL=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES=""
POSTGRES_USER=""
